.subtotal {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 10px;
    height: 100px;
    background-color: #ffffff;
    border-color: #dddddd;
    border-radius: 3px;
    margin-left: 10px;
    justify-content: space-between;
    padding-bottom: 20px;
}

.subtotal > p {
    font-size: 16px;
}

.subtotal__gifts {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.subtotal__giftbox {
    margin-right: 5px;
    
}

.subtotal > button {
    background-color: #f0c14b;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    
}